.header_li {
    list-style-type: none;
    margin-right: 10px;
}
.header {
    background-color: #1c1d3d;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_ul {
    width: 20%;
    display: flex;
}
.header_li button {
    background-color: transparent;
    color: #f19035;
    border: none;
    font-size: 15px;
}
.header_li button:focus {
    border-bottom: 1px solid #f19035;
}
