.toDoList {
    list-style-type: none;
    width: 100%;
    margin-bottom: 10px;
}
.toDoList .trashBtn {
    position: absolute;
    right: 0;
    color: var(--color-color);
    border: none;
    font-size: 15px;
    background-color: transparent;
}
.label {
    font-size: 18px;
    margin-left: 10px;
}
.input {
    accent-color: #f19035;
}
